@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat;
  max-width: 1600px;
}

header {
  position: fixed;
   background: #1C1C1C;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
  height: 72px;
  width: 100%;
  z-index: 1;

  nav a {
  color: white;
  text-decoration: none;
  position: relative;

  &::after {
  content: "";
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  height: 3px;
  background: #E27866;
  transform: scaleX(0);
  transform-origin: right;
}
 
&:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
}
.a-selected {
  color: #E27866;
  font-weight: bold;
  transition: color 0.2s;
}

.links {
  width: 400px;
  display: flex;
  justify-content: space-between;
}
}
#burger {
  cursor: pointer;
  display: none;
}

.homepage {
  padding: 370px 150px 300px 150px;
  background-color: #1C1C1C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  height: 580px;
  
  .background {
    opacity: 0.5;
    object-fit: cover;
    position: absolute;
    margin-left: -150px;
    height: 79%;
    width: 100%;
  }
  .main {
    position: relative;

h1 {
  color: #FFFFFF;
  margin-top: 20px;
}
.hr-main {
  width: 80px;
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0.5px solid #FFFFFF;
}
  p {
  color: white;
  margin: 20px 0 20px 0;
  font-size: 16px;
}
.btn {
  background: transparent;
  border: 3px solid #FFFFFF;
  padding: 10px 15px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 15px;
}
  }
}

form {
  background: #FFFFFF;
  border-radius: 15px;
  position: relative;
h3 {
    background: #F5F5F5;
    color: black;
    font-size: 23px;
    text-align: center;
    padding: 20px 70px;
    border-radius: 15px 15px 0 0;
span {
    color: #de5929;
    text-transform: uppercase;
  }
}
  legend {
    color: black;
    font-weight: bold;
    font-size: 18px;
    margin: 30px 60px 30px 60px;
  }
  .details {
  display: flex;
  flex-direction: column;

  > input {
  
  background: none;
  border: none;
  border-bottom: 2px solid #D8D8D8;
  margin: 0 60px 30px 60px;
  padding-bottom: 5px;
}
::placeholder {
  color: #D8D8D8;
  padding-left: 5px;
}
}
.subscription {
  margin: 30px 60px 30px 60px;
  color: black;
  font-size: 13px;
  font-weight: bold;
  label {
  margin-right: 55px;
  cursor: pointer;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid #41D395;
  border-radius: 100px;
  position: relative;
  cursor: pointer;

  &:before {
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    background: #41D395;
    border-radius: 100px;
    top: 2px;
    left: 2px;
    transform: scale(0);
    }

    &:checked:before {
  transform: scale(1);
  
  }
}
}
.submit {
  background: #41D395;
  color: #FFFFFF;
  border: none;
  text-align: center;
  display: flex;
margin: auto;
padding: 20px 166px 20px 166px;
font-size: 18px;
border-radius: 0 0 15px 15px;
cursor: pointer;
}
}

.socialmedia {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding: 15px 150px;
  
  .text {
    text-align: left;
    color: black;

    h3 {
      padding-bottom: 10px;
      font-size: 20px;
    }

    p {
      font-size: 14px;
    }
  }

  .icons {
    background: white;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 100px;
  }
}

.tabs-bg {
  position: absolute;
  height: 660px;
  width: 100%;
  object-fit: cover;
  opacity: 0.68;
}

.swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(270deg, #6696E2, #E27866);
  height: 660px;
  
 .swiper-wrapper {
  display: flex;
  max-width: 1060px;

.swiper-slide{
display: flex;
margin-left: 80px;
align-items: center;

.tab-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 550px;
  height: 260px;
  padding-left: 50px;

 .tab-title {
  color: white;
  font-size: 36px;
  padding-bottom: 15px;
}
  p {
  line-height: 15px;
  text-align:left;
  font-size: 14px;
  font-size: montserrat;
  color: white;}
}
}
}
}

.buttons {
  position: relative;
      display: flex;
      flex-direction: column;
      left: -1100px;
      margin-top: 70px;
 button {
  background: #A37169;
  border: none;
  transition: 0.1s;
  width: 100px;
  height: 100px;
  margin-bottom: 25px;
  z-index: 1;

  p {
    transform: rotate(-45deg);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
      }
} 
    }

.selected {
  background: #E27866;
}
      button:hover {
      cursor: pointer;
      background: #E27866;
      color: white;
    }

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 10px;
  width: 360px;
  height: 340px;}

  .item-g:nth-of-type(1){
  grid-row: span 1;
  grid-column: span 1;
    position: relative;

  &:hover .image {
    opacity: 0.6;
    cursor: none;
  }

  &:hover .top {
    opacity: 1;
    left: 60px;
    top: 75px;
    transition: 0.6s;
    cursor: none;
  }
  
  .image {
    opacity: 1;
  }
  
  .top {
    opacity: 0;
    left: 80px;
    position: absolute;

    p{
      font-size: 20px;
      color: white;
      font-weight: bold;
      text-align: center;
    }
  } 
}

.item-g:nth-of-type(2){
  grid-row: span 1;
  grid-column: span 1;
  margin-left: 8px;
}

.item-g:nth-of-type(3){
  grid-row: span 2;
  grid-column: span 2;
}

.cheshire {
  background: #1C1C1C;
  display: flex;
  justify-content: space-between;
  padding: 80px 150px;
 
  img {
    width: 388px;
    height: 170px;
    margin-top: 80px;
  }

.text-cheshire {
  width: 50%;
  margin-top: 50px;
    margin-bottom: 80px;

    h1 {
      color: white;
    }

    .hr-cheshire {
    width: 120px;
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0.5px solid #E27866;
  }

   p {
    color: #FFFFFF;
    font-size: 14px;
  }

.title {
  font-size: 16px; 
  margin: 20px 0 10px 50px;
}

.right {
  margin-top: 15px;
  margin-left: 50px;
}

img {
    width: auto;
    height: auto;
  }
.left {
    float: left;
    margin-top: 40px;
  }
}
}

.awesome {
  text-align: center;
 margin: 70px 150px 80px 150px;

 h2 {
  text-transform: uppercase;
  font-size: 36px;
  text-align: center;
  padding: 25px;
}

 hr {
  width: 80px;
  margin: auto;
  margin-bottom: 20px;
  border: 0.5px solid #E27866;
 }

 p {
  font-size: 14px;
  line-height: 20px;
 }

.reasons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
 
  h4 {
    font-size: 20px;
    margin: 20px;
  }

  .box {
     width: 245px;

     img {
    margin-top: 25px;
  }

     p {
      text-transform:none;
     }
  }
}
}

.pricing {
  background: #6696E2;
  color: white;
  padding: 50px 150px 80px 150px;

  h2 {
    text-transform: uppercase;
    font-size: 36px;
    text-align: center;
    padding: 25px;
  }

  hr {
    width: 80px;
    margin: auto;
    margin-bottom: 30px;
    border: 0.5px solid #FFFFFF;
  }

  p {
    text-align: center;
    color: white;
    font-size: 14px;
  }
  .container {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: column;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

 
  .box {
  width: 343px;
  margin-top: 90px;
  text-align: center;

  &:nth-of-type(2){
    margin-top: 68px;
  }

  .name {
  font-size: 20px;
  background: #333333;
  color: #fff;
  text-transform: capitalize;
  border-radius: 8px 8px 0 0;
}

.price {
  background: #333333;
  color: #fff;
  font-size: 94px;

  .dolar {
    font-size: 40px;
    color: #fff;
  }
}

.payment {
  background: #333333;
  color: #797979;
  font-size: 14px;
  text-transform: capitalize;
}

.hr-payment {
  width: 100%;
  height: 15px;
  background: #41D395;
  border: none;
  margin: auto;
}

.popular {
  text-transform: uppercase;
  background: #41D395;
  color: white;
  font-size: 14px;
  padding: 10px;
}

p {
  font-size: 14px;
  text-transform: uppercase;
  color: #86878B;
  background: white;
  padding-top: 10px;
  padding-bottom: 10px;

  &:last-of-type {
    border-radius: 0 0 8px 8px;
}}
  }
}
}

.reviews {
margin-top: 70px;

h2 {
  text-transform: uppercase;
  font-size: 36px;
  text-align: center;
  padding: 25px;
}
  .hr-reviews {
    width: 80px;
    margin: auto;
    border: 0.5px solid #6696E2;
  }

  .flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
 margin: 0 150px 150px 100px;

 .flex-wrapper {
  display: flex;
 }

  .opinion {
    display: flex;
    background: #6696E2;
    color: white;
    font-size: 16px;
    padding: 15px;
    width: 273px;
    height: 135px;
    margin: 50px 60px 0 60px;
    border-radius: 8px;
    position: relative;
    align-items: center;
  
    &::before {
      content: "";
      position: absolute;
      top: 135px;
      right: 235px;
      border: 10px solid transparent;
      border-right-color:  #6696E2;
      transform: rotate(-90deg);
    }
  }
  
  .opinion-2 {
    display: flex;
    background: #6696E2;
    color: white;
    font-size: 16px;
    padding: 15px;
    width: 273px;
    height: 110px;
    margin: 75px 60px 0 60px;
    border-radius: 8px;
    position: relative;
    align-items: center;
    
    &::before {
      content: "";
      position: absolute;
      top: 110px;
      right: 235px;
      border: 10px solid transparent;
      border-right-color:  #6696E2;
      transform: rotate(-90deg);
    }
  }

  .avatar {
    width: 50px;
    height: 50px;
    margin-left: 65px;
    margin-top: 15px;
  }

.avatar-name {
  margin-left: 140px;
  margin-top: -45px;
  font-size: 20px;
}

.avatar-job {
  margin-left: 140px;
  margin-top: -3px;
  font-size: 14px;
}
}
}


.contacts {
  background: #E27866;
  color: white;
  padding-bottom: 100px;

  h2 {
    text-transform: uppercase;
    font-size: 36px;
    text-align: center;
    padding: 50px 0 25px 0;
  }

  p {
    color: white;
    text-align: center;
    margin-bottom: 27px;
    font-size: 14px;
  }

  form {
    width: 400px;
    padding-top: 50px;
    margin: auto;

.send {
  width: 160px;
  height: 50px;
  margin: 10px 115px 30px 115px;
  background: #41D395;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bolder;
  color: white;
  cursor: pointer;
}
  }

}
 
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: black;
  font-size: 18px;
  padding: 40px 150px;
  
img {
  padding-right: 120px;
}
  p {
    color: white;
    opacity: 0.7;
  }
}

@media (max-width: 768px){
  #burger {
      display: block;
  }

  header {
    padding: 0 50px;
  }

  .links {
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 72px;
      left: 25%;
      right: 25%;
      width: 50%;
      font-size: 25px;
      height: 500px;
      background: #1C1C1C;
      padding-bottom: 30px;
      z-index: -1;
      transform: translateY(-100%);
      opacity: 0;
      transition: 0.8s ease-in-out;
  }

  .open {
      transform: translateY(0%);
      opacity: 1;
  }    

  .homepage {
    padding: 70px 50px 70px 50px;
    display: flex;
    flex-direction: column;
    height: 1000px;
    
    .background {
      opacity: 0.2;
      object-fit: cover;
      position: absolute;
      margin-left: 0;
      height: 100%;
  
    }
    .main {
      position: relative;

      img {
        padding-top: 30px;
        display: flex;
        margin: auto;
      }
  
  h1 {
    text-align: center;
    font-size: 22px;
  }
  .hr-main {
    display: flex;
    margin: auto;
    margin-top: 15px;
  }
    p {
      text-align:justify;
    color: white;
    margin: 20px 0 20px 0;
    font-size: 16px;
  }
  .btn {
    display: flex;
    margin: auto;
  }
    }
  }

  .homepage form {
  h3 {
      font-size: 18px;
  }
    legend {
     
      margin: 20px 40px 20px 40px;
    }
    .details {
    > input {
    margin: 0 30px 20px 30px;
  }
  }
  .subscription {

    margin: 15px 40px 20px 40px;

    
  }
  .submit {
  padding: 20px 130px 20px 130px;
  }
  }

  .socialmedia {
    display: flex;
    flex-direction: column;
    padding: 15px 50px;
  
    .text {
      h3 {
        text-align: center;
      }
  
      p {
        text-align: justify;
        padding-bottom: 10px;
      }
    }
  
    .icons {
     display: flex;
    
    img {
      display: flex;
  width: 25px;
  height: 25px;
    }
    }
  
  }
  
  .cheshire {
    display: flex;
    flex-direction: column;
    padding: 50px 50px 30px 50px;
   
    img {
      display: flex;
      width: 200px;
      height: 100px;
      margin: auto;
    }
  
  .text-cheshire {

    h1{
      text-align: center;
    }
    width: 100%;

    p {
      text-align: justify;
    }
      .hr-cheshire {
        display: flex;
        margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    }

    .title {
      text-align: center;
    }

    .right{
      text-align: justify;
    }
  } 
  }

  .tabs-bg {
    height: 130%;
  }
    .swiper {
        display: flex;
        justify-content: space-between;
        height: 950px;
         .swiper-slide {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-right: 30px;
      .tab-text{
  margin-left: -80px;
  margin-top: -250px;
  width: 450px;
  
.tab-title {
  font-size: 25px;
  text-align: justify;
}
 .tab-text p {
  text-align: justify;
}
}
.grid {
 margin-left: -80px;
}
    }
    .buttons {
        margin-top: 650px;
        display: flex;
        flex-direction: row;
        padding-left: 75px;
button {
  display: flex;
  margin: 15px;

        p{
          display: flex;
  margin: auto;
        }
    }
    }
    }

  .awesome {
   margin: 30px 50px 80px 50px;
  
   h2 {
    font-size: 30px;
  }

   p {
    font-size: 16px;
   }
  
  .reasons {
    display: flex;
    flex-direction: column;
    align-items: center;

    p{
      font-size: 14px;
    }

  }
  }

  .pricing {
    padding: 30px 50px 80px 50px;
  
    h2 {
      font-size: 30px;
    }

    p {
      font-size: 18px;
    }
    .container {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: column;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  
   
    .box {
    margin-top: 50px;
  
    .name {
    font-size: 30px;
    padding-top: 25px;
  }
  .payment {
    font-size: 18px;
  }
    }
  }
  }

  .reviews h2 {
    font-size: 30px;
    padding-top: 0;
  }

   .flex-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
   }

footer {
  display: flex;
  flex-direction: column;
  padding: 20px 50px;

  p {
    display: flex;
    align-items: center;
}
}
footer > div {
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
  }
}